@page
@model TasteRestaurant.Pages.FoodTypes.IndexModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<br />

<h2>Food Types List</h2>

<br />

<p>
    <a asp-page="Create" class="createCategoryBtn btn btn-success">
        <i class="fas fa-plus"></i>
        &nbsp;
        Create New
    </a>
</p>

<div class="form-border">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        @if (Model.foodTypesList.Count() > 0)
        {
            @foreach (var fty in Model.foodTypesList)
            {
                <tr>
                    <td>@fty.Id</td>
                    <td>@fty.Name</td>
                    <td>
                        <!--
                            <a asp-page="Details" class="btn btn-primary" asp-route-id="@fty.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a asp-page="Edit" class="btn btn-warning" asp-route-id="@fty.Id"><span class="glyphicon glyphicon-book"></span></a>
                            <a asp-page="Delete" class="btn btn-danger" asp-route-id="@fty.Id"><span class="glyphicon glyphicon-trash"></span></a>
                        -->

                        @Html.Partial("_UnderscoreTableButtonsPartial", new IndivdualButtonPartial { Id = fty.Id })
                    </td>
                </tr>
            }
        }
    </table>

    @if (Model.foodTypesList.Count() < 1)
    {
        <p>No catecory types in the database...</p>
    }
</div>




